<p id="notice"><%= notice %></p>

<p>
  <strong>Email:</strong>
  <%= @realtor.email %>
</p>

<p>
  <strong>Name:</strong>
  <%= @realtor.name %>
</p>

<p>
  <strong>Password:</strong>
  <%= @realtor.password %>
</p>

<p>
  <strong>Companyid:</strong>
  <%= @realtor.companyid %>
</p>

<%= link_to 'Edit', edit_realtor_path(@realtor) %>
<%= link_to 'List a House', new_house_path %>
<%= link_to 'New Realestatecompany', new_realestatecompany_path %>
<%= link_to 'List of Houses', houses_path %>
<%= link_to 'Back', realtors_path %>
