<p id="notice"><%= notice %></p>

<h1>Househunters</h1>

<table>
  <thead>
    <tr>
      <th>Email</th>
      <th>Name</th>
      <th>Password</th>
      <th>Phone</th>
      <th>Contactmethod</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @househunters.each do |househunter| %>
      <tr>
        <td><%= househunter.email %></td>
        <td><%= househunter.name %></td>
        <td><%= househunter.password %></td>
        <td><%= househunter.phone %></td>
        <td><%= househunter.contactmethod %></td>
        <td><%= link_to 'Show', househunter %></td>
        <td><%= link_to 'Edit', edit_househunter_path(househunter) %></td>
        <td><%= button_to 'Destroy', househunter, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Househunter', new_househunter_path %>
