<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @admin.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @admin.email %>
</p>

<p>
  <strong>Password:</strong>
  <%= @admin.password %>
</p>

<%= link_to 'Edit', edit_admin_path(@admin) %> |
<%= link_to 'Back', admins_path %>
<%= link_to 'New Realtor', new_realtor_path  %> |
<%= link_to 'New House Hunter', new_househunter_path  %> |
<%= link_to 'New Real Estate Company', new_realestatecompany_path  %> |
<%= link_to 'Users', househunter_url  %> |
<%= link_to 'Realtors', realtor_url  %> |
<%= link_to 'Real Estate Companies', realestatecompanies_url  %> |
<%= link_to 'Houses', house_url  %> |
<%= link_to 'Inquiries', inquiries_url  %>