<%= form_with(model: realestatecompany, local: true) do |form| %>
  <% if realestatecompany.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(realestatecompany.errors.count, "error") %> prohibited this realestatecompany from being saved:</h2>

      <ul>
      <% realestatecompany.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :companyid %>
    <%= form.number_field :companyid, id: :realestatecompany_companyid %>
  </div>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :realestatecompany_name %>
  </div>

  <div class="field">
    <%= form.label :website %>
    <%= form.text_field :website, id: :realestatecompany_website %>
  </div>

  <div class="field">
    <%= form.label :address %>
    <%= form.text_field :address, id: :realestatecompany_address %>
  </div>

  <div class="field">
    <%= form.label :size %>
    <%= form.text_field :size, id: :realestatecompany_size %>
  </div>

  <div class="field">
    <%= form.label :founded %>
    <%= form.number_field :founded, id: :realestatecompany_founded %>
  </div>

  <div class="field">
    <%= form.label :revenue %>
    <%= form.text_field :revenue, id: :realestatecompany_revenue %>
  </div>

  <div class="field">
    <%= form.label :synopsis %>
    <%= form.text_area :synopsis, id: :realestatecompany_synopsis %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
