<p id="notice"><%= notice %></p>

<h1>Realestatecompanies</h1>

<table>
  <thead>
    <tr>
      <th>Companyid</th>
      <th>Name</th>
      <th>Website</th>
      <th>Address</th>
      <th>Size</th>
      <th>Founded</th>
      <th>Revenue</th>
      <th>Synopsis</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @realestatecompanies.each do |realestatecompany| %>
      <tr>
        <td><%= realestatecompany.companyid %></td>
        <td><%= realestatecompany.name %></td>
        <td><%= realestatecompany.website %></td>
        <td><%= realestatecompany.address %></td>
        <td><%= realestatecompany.size %></td>
        <td><%= realestatecompany.founded %></td>
        <td><%= realestatecompany.revenue %></td>
        <td><%= realestatecompany.synopsis %></td>
        <td><%= link_to 'Show', realestatecompany %></td>
        <td><%= link_to 'Edit', edit_realestatecompany_path(realestatecompany) %></td>
        <td><%= button_to 'Destroy', realestatecompany, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Realestatecompany', new_realestatecompany_path %>
<%= link_to 'Back to Realtor', realtors_path %>
