<p id="notice"><%= notice %></p>

<p>
  <strong>Companyid:</strong>
  <%= @realestatecompany.companyid %>
</p>

<p>
  <strong>Name:</strong>
  <%= @realestatecompany.name %>
</p>

<p>
  <strong>Website:</strong>
  <%= @realestatecompany.website %>
</p>

<p>
  <strong>Address:</strong>
  <%= @realestatecompany.address %>
</p>

<p>
  <strong>Size:</strong>
  <%= @realestatecompany.size %>
</p>

<p>
  <strong>Founded:</strong>
  <%= @realestatecompany.founded %>
</p>

<p>
  <strong>Revenue:</strong>
  <%= @realestatecompany.revenue %>
</p>

<p>
  <strong>Synopsis:</strong>
  <%= @realestatecompany.synopsis %>
</p>

<%= link_to 'Edit', edit_realestatecompany_path(@realestatecompany) %> |
<%= link_to 'Back', realestatecompanies_path %>
