<p id="notice"><%= notice %></p>

<p>
  <strong>Subject:</strong>
  <%= @inquiry.subject %>
</p>

<p>
  <strong>Message content:</strong>
  <%= @inquiry.message_content %>
</p>
<%if current_user && current_user.role =="House Hunter" %>
<%= link_to 'Edit', edit_inquiry_path(@inquiry) %>
  <%end %>
<%= link_to 'Back', user_path %>
