<!DOCTYPE html>
<html>
<head>
  <title>HouseSeller</title>
  <%= csrf_meta_tags %>

</head>
<div class="container">
  <div class="header">
    <% if logged_in? %>
      <h3>Welcome <%= current_user.name %></h3>
      <%= button_to 'Log out', logout_path, method: :delete %>
      <% else %>
      <button><%= link_to 'Sign Up', new_user_path %></button> |
      <button><%= link_to 'Log in', new_session_path %></button>
    <% end %>
  </div>
</div>
<body>
<h1>Welcome To House Hunting Portal</h1>
<%= yield %>

<% flash.each do |message_type, message| %>
  <div class="alert alert-<%= message_type %>"><%= message %></div>
<% end %>

</body>
</html>
